<!DOCTYPE html>
<html lang="en">
<html ng-app="app">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css" />
<% include header %>
<body>
	<% include navbar %> 

	<div class="container">
	<div ng-controller="ClientCtrl">
	&nbsp<h1> {{clients.length}} Clients </h1>
	<form class="form-inline">
      <input ng-model="query" type="text"
        placeholder="Search" autofocus>
    </form>
  <div class="datagrid"><table> 
 <thead> 
 <tr> 
     <th> ID </th>
     <th> Name </th>
     <th> Date Added </th>
     </tr>
     </thead>
     <tbody>
     <tr ng-repeat="client in clients | filter: query | orderBy :'id'">
     <td>
     {{client.id}}
	 </td>
	 <td> <a ng-href = "client/{{client.id}}">{{client.name}}</a> | <a ng-href = "docgen/{{client.id}}">docgen</a> </td>
	 <td>{{client.createdAt}}</td>
	 </tr>
	 </tbody>
	 </table>

       
 
          
		<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#about').addClass("active");
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>