<!DOCTYPE html > 
<html ng-app="app">
<%include header3%>
<%include navbar%>
<div class="container">
<div ng-controller="ClientCtrl">
<div ng-repeat="client in clients | filter:{id:id} ">
	<header><a href="/about" class="btn btn-primary">Back to clients</a>  <h2>{{client.name}}</h2> <small> <span style="padding-left:463px">Staff: Victoria Flores </small> </header>
	<h1><span style="padding-left:300px"><a href="/client/{{client.id}}" class="btn btn-primary">Personal</a>
	<a href="/client/{{client.id}}/ci" class="btn btn-primary">Case Info</a>
	<a href="/client/{{client.id}}/i" class="btn btn-primary">Insurance</a>
	<a href="/client/{{client.id}}/m" class="btn btn-primary">Medical</a>
	<a href="/client/{{client.id}}/f" class="btn btn-primary">Financial</a></h1>
	<body>
<div class="container">
	<div ng-controller="ClientCtrl">
<div class="datagrid"><table>  
 <thead> 
 <tr> 
     <th> ID </th>
     <th> Phone </th>
     <th> Address </th>
     <th> Zip </th>
     </tr>
     </thead>
     <tbody>
     <tr ng-repeat="client in clients | orderBy:'id' | filter:{id:id} | limitTo: 1">
     <td>
     {{client.id}}
	 </td>
	 <td> <input type="text" ng-model="client.phone" value="{{client.phone}}"/> </td>
	 <td><input type="text" value="{{client.address}}"/></td>
	 <td><input type="text" value="{{client.zip}}"/></td>
	 </tr>
	 <tr> 
	 <thead>
     <th> SSN </th>
     <th> Age </th>
     <th> DOB </th>
     <th> DLN </th>
     </thead>
     </tr>
     <tr ng-repeat="client in clients | filter:{id:id} | orderBy:'id' | limitTo: 1">
     <td> <input type="text" value="{{client.ssn}}"/> </td>
	 <td><input type="text" value="{{client.age}}"/</td>
	 <td><input type="text" value="{{client.birthday}}"/></td>
	 <td><input type="text" value="{{client.dln}}"/></td>
	 </tr>

	 </tbody>
	 </table>
</body>
	
	
     
