<!DOCTYPE html > 
<html ng-app="app">
<%include header3%>
<%include navbar%>
<div class="container">
<div ng-controller="ClientCtrl">
<div ng-repeat="client in clients | orderBy:'id'  | filter:{id:clientID} | limitTo: 1">
	<header> <h2>{{client.name}}</h2> <small> <span style="padding-left:463px">Staff: Victoria Flores </small> </header>
	<h1><span style="padding-left:300px"><a href="/client/{{client.id}}" class="btn btn-primary">Personal</a>
     <a href="ci/client/{{client.id}}" class="btn btn-primary">Case Info</a>
     <a href="/clienti/{{client.id}}" class="btn btn-primary">Insurance</a>
     <a href="/clientm/{{client.id}}" class="btn btn-primary">Medical</a>
     <a href="/clientf/{{client.id}}" class="btn btn-primary">Financial</a></h1>
	<body>
<div class="container">
	<div ng-controller="ClientCtrl">
 <div class="datagrid"><table> 
 <thead> 
 <tr> 
     <th> Case Type </th>
     <th> DOL</th>
     </tr>
     </thead>
     <tbody>
     <tr ng-repeat="client in clients | orderBy:'id' | filter:{id:clientID} | limitTo: 1">
     <td><input type="text"  value="
     {{client.casetype}}"/>
	 </td>
	 <td> <input type="text"  value="{{client.dol}}"/> </td>
	 </tr>
	 <thead>
	 <tr> 
	 <th> Incident Location </th>
     <th> Location of Vehicle </th>
     </tr>
     </thead>
     <tr  ng-repeat="client in clients | orderBy:'id' | filter:{id:clientID} | limitTo: 1">
     <td><input type="text"  value="{{client.incidentloc}}"/></td>
	 <td><input type="text" value="{{client.locov}}"/></td>
	 </tr>
	 </tbody>
     <thead>
     <tr>
     <th> Position in Car </th>
     <th> Property Damage Description </th>
     </tr>
     </thead>
     <tr ng-repeat="client in clients | orderBy:'id' | filter:{id:clientID} | limitTo: 1">
     <td><input type="text"  value="{{client.posncar}}"/> </td>
	 <td><input type="text" value="{{client.pdd}}"/></td>
	 </tr>
     <thead>
     <tr>
     <th> Year-Make-Model of Vehicle</th>
     <th> Adverse Name </th>
     </tr>
     </thead>
      <tr ng-repeat="client in clients | orderBy:'id' | filter:{id:clientID} | limitTo: 1">
     <td><input type="text"  value="{{client.ymmov}}"/></td>
	 <td><input type="text" value="{{client.advinfo}}"/></td>
	 </tr>
	 <thead>
	 <tr> 
     <th> Incident Facts </th>
     <th> Notes </th>
     </tr>
     </thead>
     <tr ng-repeat="client in clients | orderBy:'id' | filter:{id:clientID} | limitTo: 1">
     <td>{{client.incidentfcts}} </td>
     <td>{{client.notes}}</td>
	 </tbody>
	 </table>
</body>
	
	
     
