<!DOCTYPE html > 
<html ng-app="app">
<%include header3%>
<%include navbar%>
<div class="container">
<div ng-controller="ClientCtrl">
<div ng-repeat="client in clients | orderBy:'id' | filter:{id:clientId} | limitTo: 1">
 <h2>{{client.name}}</h2></div> <small> <span style="padding-left:463px">Staff: Victoria Flores </small> </header>
	<h1><span style="padding-left:300px"><a ng-href="/client/{{clientId}}" class="btn btn-primary">Personal</a>
	<a ng-href="/clientci/{{clientId}}" class="btn btn-primary">Case Info</a>
	<a ng-href="/clienti/{{clientId}}" class="btn btn-primary">Insurance</a>
	<a ng-href="/clientm/{{clientId}}" class="btn btn-primary">Medical</a>
	<a ng-href="/clientf/{{client.id}}" class="btn btn-primary">Financial</a></h1>
	<body>
<div class="container">
	<div ng-controller="ClientCtrl">
<div class="datagrid"><table>  
 <thead> 
 <tr> 
     <th> ID </th>
     <th> Phone </th>
     <th> Address </th>
     <th> Zip </th>
     </tr>
     </thead>
     <tbody>
     <tr ng-repeat="client in clients | orderBy:'id' | filter:{id:clientId} | limitTo: 1">
     <td>
     {{client.id}}
	 </td>
	 <td><input type="text" value="{{client.phone}}"/></td>
	 <td><input type="text" value="{{client.address}}"/></td>
	 <td><input type="text" value="{{client.zip}}"/></td>
	 </tr>
	 <tr> 
	 <thead>
     <th> SSN </th>
     <th> Age </th>
     <th> DOB </th>
     <th> DLN </th>
     </thead>
     </tr>
     <tr ng-repeat="client in clients | orderBy:'id' | filter:{id:clientId} | limitTo: 1">
     <td> <input type="text" value="{{client.ssn}}"/> </td>
	 <td><input type="text" value="{{client.age}}"/</td>
	 <td><input type="text" value="{{client.birthday}}"/></td>
	 <td><input type="text" value="{{client.dln}}"/></td>
	 </tr>

	 </tbody>
	 </table>
</body>

	
	
     
