<!DOCTYPE html > 
<html ng-app="app">
<%include header3%>
<%include navbar%>
<div class="container">
<div ng-controller="ClientCtrl">
<div ng-repeat="client in clients | orderBy:'id'| filter:{id:clientiD} | limitTo: 1">
	<header> <h2>{{client.name}}</h2> <small> <span style="padding-left:463px">Staff: Victoria Flores </small> </header>
	<h1><span style="padding-left:300px"><a href="/client/{{client.id}}" class="btn btn-primary">Personal</a>
     <a href="/clientci/{{client.id}}" class="btn btn-primary">Case Info</a>
     <a href="/clienti/{{client.id}}" class="btn btn-primary">Insurance</a>
     <a href="/clientm/{{client.id}}" class="btn btn-primary">Medical</a>
     <a href="/clientf/{{client.id}}" class="btn btn-primary">Financial</a></h1>
	<body>
<div class="container">
	<div ng-controller="ClientCtrl">
 <div class="datagrid"><table> 
 <thead> 
 <tr> 
     <th> Insurance Company </th>
     <th> Policy </th>
     <th> Claim </th>
     <th> Name of Adjuster </th>
     </tr>
     </thead>
     <tbody>
     <tr ng-repeat="client in clients | orderBy:'id' | filter:{id:clientiD} | limitTo: 1">
     <td><input type="text" value="
     {{client.cai}}"/></td>
	 <td><input type="text"  value="{{client.policy}}"/> </td>
	 <td><input type="text"  value="{{client.insclaimnum}}"/></td>
	 <td><input type="text" value="{{client.adjstrnme}}"/></td>
	 </tr>
      <thead>
	 <tr> 
     <th> Adjuster Phone </th>
     <th> Adjuster Fax</th>
     <th> Insurance Limits</th>
     <th> Checks </th>
     </tr>
     </thead>
     <tr ng-repeat="client in clients | orderBy:'id' | filter:{id:clientiD} | limitTo: 1">
     <td><input type="text"  value="{{client.adjstrphne}}"/> </td>
	 <td><input type="text"  value="{{client.adjstrfx}}"/></td>
	 <td><input type="text"  value="{{client.inslim}}"/></td>
	 <td><input type="text" value="{{client.checks}}"/></td>
	 </tr>
      <thead>
	 <tr> 
     <th> Adverse Insurance Company </th>
     <th> Adverse Policy </th>
     <th> Adverse Claim </th>
     <th> Adverse Adjuster Name</th>
     </tr>
     </thead>
     <tr ng-repeat="client in clients | orderBy:'id' | filter:{id:clientiD} | limitTo: 1">
     <td><input type="text"  value="{{client.advins}}"/> </td>
     <td><input type="text"  value="{{client.advinspol}}"/> </td>
     <td><input type="text"  value="{{client.claim}}"/> </td>
     <td><input type="text"  value=" {{client.advinsn}}"/> </td>
	 </tbody>
	 </table>
</body>
	
	
     
